@page
@model ExternalLoginModel
@{
    ViewData["Title"] = $"Associate your {Model.ProviderDisplayName} account";
}

<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Associate your @Model.ProviderDisplayName account.</h2>
                    <p id="external-login-description" class="text-info">
                        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                        Please enter an email address for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="mx-auto d-block">
                            <img style="height: 80px; width: 80px" class="mx-auto d-block img-thumbnail" src="@Model.Input.AvatarUrl">
                        </div>
                        <input hidden type="text" asp-for="Input.AvatarUrl">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="group-input">
                            <label asp-for="Input.Email">Email address *</label>
                            <input type="text" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.FirstName">First Name *</label>
                            <input type="text" asp-for="Input.FirstName">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.MiddleName">Middle Name</label>
                            <input type="text" asp-for="Input.MiddleName">
                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.LastName">Last Name *</label>
                            <input type="text" asp-for="Input.LastName">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                        <a asp-page="login" class="or-login">Other Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
